html
    head
        style
            include ../assets/styles/style.css
    body
        div.form-style-6
            h1= message
            form(action= "/users" method= "post")
                input(type="text" placeholder="Krstne meno" name="name")
                input(type="text" placeholder="Priezvisko" name="surname")
                input(type="text" placeholder="Uzivatelske meno" name="username")
                input(type="text" placeholder="Heslo" name="password")
                input(type="text" placeholder="Autentifikacia" name="authenticated")
                input(onclick="/users" type="submit" value="submit")

